Repository coverallsapp/orb: changes, and which lefthook commands are due for each by the changed paths.
All: yamllint, shellcheck

lefthook.yml:

---
pre-commit:
  parallel: true
  commands:
    yamllint:
      glob: "*.yml"
      exclude: '^.circleci|lefthook.yml'
      run: yamllint {staged_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}

fix: if conditions
  src/scripts/coveralls.sh
Due: shellcheck

fix: script
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

feat: use universal coverage reporter (#22)
  .circleci/test-deploy.yml
  .gitignore
  lefthook.yml
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

fix: add test coverage
  test/main.c.gcov
Due: none

fix: add test coverage (#24)
  test/main.c.gcov
Due: none

docs: update README
  README.md
  src/@orb.yml
Due: yamllint

feat: add parameters from github action
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

docs: update link
  README.md
Due: none

feat: add parameters from github action (#26)
  README.md
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

Fix false parallel parameter value to a string
  src/scripts/coveralls.sh
Due: shellcheck

fix: use secure download
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

fix: check hashsum before using binary (#30)
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

feat: add better error messaging for coverage_file values
  src/scripts/coveralls.sh
Due: shellcheck

feat: add better error messaging for coverage_file values (#31)
  src/scripts/coveralls.sh
Due: shellcheck

fix: expand paths before checking for existence
  src/scripts/coveralls.sh
Due: shellcheck

fix: expand paths before checking for existence (#34)
  src/scripts/coveralls.sh
Due: shellcheck

chore: use explicit cli syntax
  src/scripts/coveralls.sh
Due: shellcheck

chore: add test with file
  .circleci/test-deploy.yml
Due: none

chore: use explicit cli syntax (#35)
  .circleci/test-deploy.yml
  src/scripts/coveralls.sh
Due: shellcheck

feat: add new options
  .circleci/test-deploy.yml
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

fix: use new orb-tools version
  .circleci/config.yml
  .circleci/test-deploy.yml
Due: none

fix: don't deploy development version
  .circleci/config.yml
Due: none

feat: add new options (#38)
  .circleci/config.yml
  .circleci/test-deploy.yml
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

feat: add create_build option
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

Ensure that `coveralls` command succeeds when fail-on-error is false
  src/scripts/coveralls.sh
Due: shellcheck

Make sure fail_on_error option also applies to failures to download or find the downloaded binary, rather than just to failures in teh coveralls commands, coveralls report or coveralls done.
  src/scripts/coveralls.sh
Due: shellcheck

Bump up orb versions.
  .circleci/config.yml
  .circleci/test-deploy.yml
Due: none

Extend the `fail_on_error` option's behavior to setup failures (#46)
  .circleci/config.yml
  .circleci/test-deploy.yml
  src/scripts/coveralls.sh
Due: shellcheck

Add coverage_reporter_version parameter. Modify tests to test coverage_reporter_version and workflow step to check the version against expected..
  .circleci/test-deploy.yml
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

Fix line length issues in @orb.yml
  src/@orb.yml
Due: yamllint

Fix line length issues in @orb.yml, again.
  src/@orb.yml
Due: yamllint

Declare coverage_reporter_version as a job parameter in the command-tests job so we can reference it in the Verify coverage reporter version step.
  .circleci/test-deploy.yml
Due: none

Yank the name attributes from coveralls/upload steps. They appear to be rtreated as orb parameters, which were undeclared, which makes sense.
  .circleci/test-deploy.yml
Due: none

Fix syntax of include and fix typo in name of run command in upload step.
  src/@orb.yml
Due: yamllint

Call binary with full pathname; it's hasn't been added to PATH.
  .circleci/test-deploy.yml
Due: none

Add `coverage_reporter_version` parameter. (#47)
  .circleci/test-deploy.yml
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

Fix syntax errors in code and lint error in orb.yml.
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

Fix syntax error (missing tab).
  src/@orb.yml
Due: yamllint

Add debug parameter to enable set -x-style debugging (#48)
  .circleci/test-deploy.yml
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

Add coverage_reporter_platform parameter with logic to select approrpiate architecture-specific binary of coverage-reporter. Add tests.
  .circleci/test-deploy.yml
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck
