Repository coverallsapp/orb: changes, and which lefthook commands are due for each by the changed paths.
All: yamllint, shellcheck

yamllint:
  run: yamllint {staged_files}

shellcheck:
  run: shellcheck {staged_files}

Fix line length per YAML linting rule.
  src/@orb.yml
Due: yamllint

Remove fail_on_error: false from specified version test.
  .circleci/test-deploy.yml
Due: none

Add to warning message when download fails to suggest user checks that the version they passed was valid.
  src/scripts/coveralls.sh
Due: shellcheck

Remove unneeded test for unsupported coverage_reporter_platform and just test the last possible enum value, arm64.
  .circleci/test-deploy.yml
Due: none

Add dry_run: true to failing test. We need to be using dry_run in order to test unless we want to test fail_on_error.
  .circleci/test-deploy.yml
Due: none

Tweak download script to handle fail_on_error in case of invalid version.
  src/scripts/coveralls.sh
Due: shellcheck

Make curl return HTTP errors (ie. 404 Not Found) even in when it's in silent mode.
  src/scripts/coveralls.sh
Due: shellcheck

Replace all instances of COVERALLS_REPORTER_VERSION with COVERAGE_REPORTER_VERSION.
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

Check runner architecture for platform match, before any execution attempts, to deliver a helpful error message before a possible shell execution failure.
  src/scripts/coveralls.sh
Due: shellcheck

Add standalone test on arm platform and reorganize existing tests for readability.
  .circleci/test-deploy.yml
Due: none

Fix config error; machine: key must be a map.
  .circleci/test-deploy.yml
Due: none

Handle architecture compatibility check when coverage_reporter_platform was empty / not set.
  src/scripts/coveralls.sh
Due: shellcheck

Check platform if versions >= v0.6.15.
  src/scripts/coveralls.sh
Due: shellcheck

Verify runner architecture in arm-test to make sure we're using the correct value to match architecure in our script, and catch a change if it ever happens.
  .circleci/test-deploy.yml
Due: none

Fix YAML syntax error in arm-test.
  .circleci/test-deploy.yml
Due: none

Add debugging outputs to Verify coverage reporter version test to understand why we are sometimes getting this error.
  .circleci/test-deploy.yml
Due: none

Fix resource.class in arm-test and remove the Verify coverage reporter version test, as it's verbose and redundant.
  .circleci/test-deploy.yml
Due: none

Add `coverage_reporter_platform` parameter (#49)
  .circleci/test-deploy.yml
  src/@orb.yml
  src/scripts/coveralls.sh
Due: yamllint, shellcheck

Update README with open-source promise and contribution info
  README.md
Due: none

Revise README for clarity on open-source offerings
  README.md
Due: none

Path conditions:
  yamllint: any of: *.yml, but not: ^.circleci|lefthook.yml
  shellcheck: any of: *.sh
